@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  margin: 0;
  padding: 0;
}

.divBotones {
  padding-left: 10px;
  width: 81rem; 
  padding-top: 1rem;
}

.boton {
  width: 26rem;
  height: 7rem;
  background: #00bcd4;
  border-radius: 8px;
  margin-left: 1rem;
  opacity: 0.5;
  transition: 0.3s;
  font-family: Comfortaa;
  font-size: 2rem;
}

.boton:hover {
    background-color: #00bcd4;
    color: white;
    opacity: 1;
}

.input {
    width: 60rem;
    height: 2rem;
    border-radius: 8px;
    border-color:#00bcd4; 
    margin-left: 3rem;
}

.despliegue{
  width: 80rem;
}

.agregar{
  width: 80rem;
  height: 5rem;
  margin-top: 1rem;
}

.fondo{
  background-color: #f2f2f2;
}

.tarea{
  width: 60rem;
  height: 5rem;
  margin-left: 10rem;
  margin-top: 1rem;
  font-family: Comfortaa;
  text-align: center;
  cursor: pointer;
  background-color: #00bcd4;
  border-radius: 8px;
  box-shadow: 0 9px #999;
  opacity: 0.5;
  transition: 0.3s;
}

.tareaClick{
  width: 60rem;
  height: 5rem;
  margin-left: 10rem;
  margin-top: 1rem;
  font-family: Comfortaa;
  text-align: center;
  cursor: pointer;
  background-color: #6dc066;
  border-radius: 8px;
  box-shadow: 0 9px #999;
  opacity: 0.5;
  transition: 0.3s;
}

.tarea:hover{
  background-color: #6dc066;
  color: white;
  opacity: 1;

}

.btnAgregar {
  width: 15rem;
  height: 2rem;
  margin-left: 1rem;
  font-family: Comfortaa;
  text-align: center;
  cursor: pointer;
  background-color: #00bcd4;
  border-radius: 8px;
  box-shadow: 0 9px #999;
  opacity: 0.5;
  transition: 0.3s;
}

.btnAgregar:hover {
  background-color: #00bcd4;
  color: white;
  opacity: 1;
}

.btnAgregar:active {
  background-color: #6dc066;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}